{% extends 'base.html.twig' %}

{% block title %}Hello AuthController!{% endblock %}

{% block body %}
    <form method="POST">
    <input type="text" name="_username"></input>
    <input type="text" name="_password"></input>
    <button type="submit" >Se connecter</button>
    </form>
{% endblock %}
