{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="">S'inscrire</button> 
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}

{% endblock %}